.c1{
    background-color: var(--C1)
}
.c2{
    background-color: var(--C2)
}
.c3{
    background-color: var(--C3)
}
.c4{
    background-color: var(--C4)
}
.c5{
    background-color: var(--C5)
}
.c6{
    background-color: var(--C6)
}