.ant-anchor{
    padding: 0 20px 8px !important;
}
.ant-anchor-link-title{
    font-size: 17px !important;
    font-weight: 700 !important;
}

.ant-anchor .ant-anchor-link{
    padding-inline: 40px 0 !important;
}

.ant-card{
    width: 240px;
    box-shadow: 3px 3px 9px black;
}