/* .main-container {
    background-color: rgba(0, 0, 0, 1);
    height: 100vh;
    width: 100%;
}

.header-wraper{
    display: flex;
    align-items: center;
    padding: 20px;
    height: 66px;
    justify-content: space-between;
}

.header-logo{
    margin: 0 20px;
}
.header-second-wrap{
    margin: 0 20px;
}
.header-second-wrap nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.header-second-wrap nav ul li{
    padding: 0 20px;
}
.header-second-wrap nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-family: math;
    font-size: 18px;
    letter-spacing: 1.5px;
    
}

.v-text__letter{
    display: inline-block
} */

/* -------------------------------------- */

